body {
    font-family: 'arcadeclassicregular' !important;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    word-spacing: 2px;
    margin: 0;
}

.navbar {
    background: darkslategray;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    width: 100vw;
}

.nav-link, .navbar-brand {
    color: white;
}

.nav-link:hover {
    text-shadow: 0px 1px 7px rgba(0, 0, 0, 1);
     color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

#logo {
    width: 50px;
}

#logo:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgb(255, 255, 255));
     filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
}