
.form-title {
    color: darkslategray;
    margin-bottom: 1.3em;
    font-size: 30pt;
}

.header {
    background-image: url("../images/bgtest.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.register-form {
    text-align: center;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -55%);
    color: white;
    background: rgba(255, 255, 255, 0.651);
    padding: 3em;   
}

.register-form button {
    background: darkslateblue;
    color: white;
    border: 1px solid darkslateblue;
}

.display-pass {
    margin-top: 1em;
    margin-bottom: 0;
}

#submit {
    background: darkslategray;
    border: 1px solid darkslategray;
    color: white;
    margin-top: 3em;
}

#submit:hover {
    background: rgb(121, 121, 121);
    border: 1px solid rgb(121, 121, 121);
}

@media (max-width: 400px) {
    .login-form {
        top: 50%;
    }
}

