html, body {
    overflow-x: hidden;
}
body {
    background-color: #6d8484;
}
#social {
    margin-top: 2em;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 150px;
}

div.twitter, div.facebook {
    background-color: rgba(255, 255, 255, 0.582);
    padding: 2em 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

#twitterLogo, #facebookLogo {
    max-width: 144px;
    margin: 0;
    display: inline-block;
    margin-right: 1em;
}

.fb-share-button {
    display: block;
}

#socialmedia  {
    color: white;
}


.twitter, .facebook {
    margin-bottom: 3em;
}

@media (max-width: 400px) {
    div.twitter {
        margin-top: 1em;
    }

    #twitter-widget-1 {
        margin-top: 1em;
        width: 80px !important;
        height: 35px !important;
        display: block;
    }

    #twitter-widget-0 {
        display: block;
        height: 35px !important;
        width: 200px !important;
    }

    div.fb-share-button {
        display: block !important;
    }

    div.fb-share-button span iframe {
        width: auto !important;
        height: auto !important;
        
    }

    #pageWidgit {
        margin-top: 1em;
        margin-right: 35px;
        margin-bottom: 1em;
    }

    
    
}