<!doctype html>
<html lang="en">

<head>
  <title>Profile - Epicdemic</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Static Stylesheets -->
  <link rel="stylesheet" href="/css/navbar.css" type="text/css">
  <link rel="stylesheet" href="/css/profile.css" type="text/css">
  <link rel="stylesheet" href="fonts/stylesheet.css" type="text/css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="images/favicon/img/favicon.ico">

</head>

<body>
  <!-- Nav -->
  <nav class="navbar fixed-top navbar-expand-md">
    <a class="navbar-brand" href="/"><img id="logo" src="images/favicon/img/favicon.png"></a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#links">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="links">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <a class="nav-link" href="/leaderboard">Leaderboards</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Profile Page Content -->
  <div class="page-header header container-fluid">
    <div class="overlay bg-overlay">
      <div class="profile-container col-lg-8 col-md-8 col-sm-8">
        <h1 class="form-title"><%= name %></h3>
          <h3 id="score">Highest Score: <%= high_score %></h3>
          <div class="profile">
            <% for (var i = 0; i < history.length; i++) { %>
            <div class="entry">
              <p><%= history[i].date %></p>
              <p>Score: <%= history[i].score %></p>
            </div>
            <% } %>
          </div>
      </div>
    </div>
  </div>



  <!-- External Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Functions -->
  <script src="/js/functions/bgresize.js"></script>
</body>

</html>